In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score



df_titanic = pd.read_csv("/content/titanic.csv")
df_titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

**You will perform a supervised classification on the survived column, by performing a traintestsplit (without fixing the random_state), then a classifier of your choice (knn, decision tree, logistic regression, etc...). You have to clearly show the accuracy score of the training game and the accuracy score of the test game.**

In [3]:
X = df_titanic.select_dtypes(include=np.number)
y = df_titanic["Survived"]

#Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#Train the model
clf = KNeighborsClassifier()
clf.fit(X_train, y_train)

#Predict on the test set
y_pred = clf.predict(X_test)

#Calculate the accuracy
train_accuracy = accuracy_score(y_train, clf.predict(X_train))
test_accuracy = accuracy_score(y_test, y_pred)

#Print the results
print("Train Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)

Train Accuracy: 0.849083215796897
Test Accuracy: 0.7752808988764045

**In a new block of code, you will perform exactly the same step as before. As you have not set the random_state, the score should be different.**

In [4]:
#Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

#Train the model
clf = KNeighborsClassifier()
clf.fit(X_train, y_train)

#Predict on the test set
y_pred = clf.predict(X_test)

#Calculate the accuracy
train_accuracy = accuracy_score(y_train, clf.predict(X_train))
test_accuracy = accuracy_score(y_test, y_pred)

#Print the results
print("Train Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)

Train Accuracy: 0.8561354019746121
Test Accuracy: 0.7752808988764045

**With the same classifier, you will run a cross-validation with a split in 6 parts.**

In [5]:
from sklearn.model_selection import cross_val_score

# Perform 6-fold cross-validation
cv_scores = cross_val_score(clf, X, y, cv=6)

# Print the results
print("Cross-validation scores:", cv_scores)

Cross-validation scores: [0.66891892 0.75675676 0.75675676 0.75       0.74324324 0.86394558]

**You will calculate the mean and standard deviation of the 6 scores obtained.**

In [6]:
print("Mean:", cv_scores.mean())
print("Standard Deviation:", cv_scores.std())

Mean: 0.756603542317828
Standard Deviation: 0.05691083254602514