In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier



df_titanic = pd.read_csv("/content/titanic.csv")
df_titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

**You will perform a supervised classification on the column "survived", using the decision tree classifier. You must clearly show the accuracy score of the test set.**

In [5]:
X = df_titanic.select_dtypes(include=np.number)
y = df_titanic["Survived"]

#Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [8]:
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

**With this same classifier, you will run a GridSearch with the values :**
- all integers from 1 to 50 of the parameter max_depth
- all integers from 1 and 15 of the parameter min_samples_leaf
- (2, 5, 7, 10, 15, 30) of the min_samples_split parameter

In [9]:
from sklearn.model_selection import GridSearchCV

param_grid = {'max_depth': list(range(1,51)),
              'min_samples_leaf': list(range(1,16)),
              'min_samples_split': [2, 5, 7, 10, 15, 30]
             }

In [10]:
grid_search = GridSearchCV(clf, param_grid, scoring='accuracy')

In [11]:
grid_search.fit(X_train, y_train)

print("Best parameters:", grid_search.best_params_)
print("Best accuracy:", grid_search.best_score_)

Best parameters: {'max_depth': 1, 'min_samples_leaf': 1, 'min_samples_split': 2}
Best accuracy: 1.0

**With this same classifier, you will run a RandomSearch on the same parameter values limiting to 200 iterations.**

In [12]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint as sp_randint

param_dist = {'max_depth': list(range(1,51)),
              'min_samples_leaf': list(range(1,16)),
              'min_samples_split': [2, 5, 7, 10, 15, 30]
             }

In [14]:
random_search = RandomizedSearchCV(clf, param_distributions=param_dist, n_iter=200, scoring='accuracy')

random_search.fit(X_train, y_train)

print("Best parameters:", random_search.best_params_)
print("Best accuracy:", random_search.best_score_)

Best parameters: {'min_samples_split': 30, 'min_samples_leaf': 14, 'max_depth': 9}
Best accuracy: 1.0